In [1]:
import pandas as pd

In [29]:
df_basic = pd.read_csv("basic.csv", sep = "\t", encoding = "cp1251")
df_basic.dropna(axis = 1)
df_basic.head()

,fist_phrase,reply
0,NaN,И подарочек мне от Деда Мороза!!! Вазочка для ...
1,Христос рождается!,славімо його!!!
2,Пампушки с маком,"Terry, а можно, пожалуйста, рецепт пампушек, о..."
3,еще было 7 салатиков,"Ну, Настюша, ну рукодельница, это ж когда ты т..."
4,Пирог яблочный sour cream apple pie,"Хочу подтвердить, что пирог необычайно вкусен!!!"

In [30]:
df_desert = pd.read_csv("desert.csv", sep = "\t", encoding = "utf-8")
df_desert.dropna(axis = 1)
df_desert.head()

,fist_phrase,reply
0,"Это ж какую силу воли нужно иметь, чтобы дотер...","Обязательно приготовлю, большое спасибо за рец..."
1,"только с изюмом, вымоченном в роме, но мой люб...","Елена, а как ром сочетается со сгущенкой? Норм..."
2,"вот ромовый изюм с коровкой - вкусно, по-рожде...",Как здОрово!
3,Я капаю в тарелку с холодной водой - как тольк...,"Да, можно и такую пробу делать."
4,"оставлю кусочек на хранение, посмотрю как на в...","Думаю, всё-таки, она подсохнет. Хотя в полиэти..."

In [31]:
df_subs = pd.read_csv("dialogues_from_subs.csv", sep = "\t", encoding = "utf-8")
df_subs.dropna(axis = 1)
df_subs.head()

,fist_phrase,reply
0,"-Кать,"" оставайтесь с нами на ужин.","Андрея всё равно нет. Поужинаете у нас."",,,,,,"
1,Андрея всё равно нет. Поужинаете у нас.,"Подождёте здесь. -Спасибо, конечно, за приглаш..."
2,"-Не понял. -Катя,"" оставайтесь с нами на ужин.","А дайте поцелую вашу ручку."",,,,,,"
3,"Ты что,"" едой не хочешь делиться? -Я тобой не ...","-Ты что"", ревнуешь? Мне так нравится, когда ты..."
4,"-Ничего,"" сейчас у них обед.","Обходить нам"", что ли?,,,,,"

In [32]:
df_first = pd.read_csv("first.csv", sep = "\t", encoding = "utf-8")
df_first.dropna(axis = 1)
df_first.head()

,fist_phrase,reply
0,"Просто идеальный бульон, основа. Спасибо за ре...",Многодетная мама на аве больше похожа на школь...
1,Хороший бульон! и описание подробное а что даё...,Спасибо ))))
2,Наташенька!,Nataliya_Yourevna
3,Я сухих грибов не ела лет наверное 8-10,Лена приезжай на Украину угостим грибочками
4,ЭТО ТАК ВКУСНО!!!! Я сухих грибов не ела лет н...,"да, Елена, аромат и вкус сухих грибов, особенн..."

In [33]:
df_porridge = pd.read_csv("porridge.csv", sep = "\t", encoding = "utf-8")
df_porridge.dropna(axis = 1)
df_porridge.head()

,fist_phrase,reply
0,"Долго я собиралась приготовить поленту,","Юленька,я тоже вот собираюсь,и все никак ........"
1,"вижу ,что и не очень калорийное блюдо!!!","думаю, да, но только зависит сколько съесть я ..."
2,"Так-как, пришлось сесть мне на низкокалорийную...","надеюсь ничего серьезного, а только профилакти..."
3,"Спасибо большое ,за рецепт,Юленька.","На здоровье, Лика!"
4,"надеюсь ничего серьезного, а только профилакти...","При моем росте 1.78 см ,вес мой в пределах нормы."

In [34]:
df_second = pd.read_csv("second.csv", sep = "\t", encoding = "utf-8")
df_second.dropna(axis = 1)
df_second.head()

,fist_phrase,reply
0,"Ликочка, тебе наверняка известно, что нут я лю...","Любаш,конечно,я уже знаю про твою любоФь к нуту."
1,Приготовила по твоему рецептику!!!,"Нут у меня собственноручно сваренный, помидорк..."
2,И мне кажется тебе уже давно пора присвоить ти...,"Любаш,НА ЗДОРОВЬЕ, ДОРОГАЯ!"
3,"Любаш,НА ЗДОРОВЬЕ, ДОРОГАЯ!",сто тысяч раз спасибо за добрые слова и шикарн...
4,Вкуснятина,"Екатерина,Рада, что рецепт пригодился! На здор..."

In [53]:
df_fish = pd.read_csv("fish.csv", sep = "\t", encoding = "utf-8")
df_fish.dropna(axis = 1)
df_fish.head()

,fist_phrase,reply
0,"сразу догадалась, чьё это произведение!","благодарю,дорогая!"
1,"Какое аппетитное рагу, да ещё и с моими любимы...","Наташа, а что это за такие колбаски чоризу? Он..."
2,что это за такие колбаски чоризу? Они остренькие?,"они разные бывают и остренькие и нет,копченые"
3,Это блюдо продают в торговых центрах в Португа...,"что-то похожее продают из кальмаров,не обращал..."
4,"что-то похожее продают из кальмаров,не обращал...",а вот в ресторанах подают Значит это очень вку...

In [54]:
final_df = pd.concat([df_basic, df_desert, df_subs, df_first, df_porridge, df_second, df_fish])

In [55]:
len(final_df)

82881

In [56]:
final_df.head()

,fist_phrase,reply
0,NaN,И подарочек мне от Деда Мороза!!! Вазочка для ...
1,Христос рождается!,славімо його!!!
2,Пампушки с маком,"Terry, а можно, пожалуйста, рецепт пампушек, о..."
3,еще было 7 салатиков,"Ну, Настюша, ну рукодельница, это ж когда ты т..."
4,Пирог яблочный sour cream apple pie,"Хочу подтвердить, что пирог необычайно вкусен!!!"

In [59]:
final_df.to_csv("ALL_DIALOGUES.csv", sep = "\t", index = False)

In [60]:
read_final_df = pd.read_csv("ALL_DIALOGUES.csv", sep = "\t")
read_final_df.head()

,fist_phrase,reply
0,NaN,И подарочек мне от Деда Мороза!!! Вазочка для ...
1,Христос рождается!,славімо його!!!
2,Пампушки с маком,"Terry, а можно, пожалуйста, рецепт пампушек, о..."
3,еще было 7 салатиков,"Ну, Настюша, ну рукодельница, это ж когда ты т..."
4,Пирог яблочный sour cream apple pie,"Хочу подтвердить, что пирог необычайно вкусен!!!"